/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  background: url(../img/galaxyThree.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(217, 221, 235);
  font-family: "poiret one", helvetica, san-serif;
}
img{
  height: 8em;
}
/* font-family: 'Flamenco', cursive;
font-family: 'Megrim', cursive;
font-family: 'Poiret One', cursive; */
/******************************************
/* LAYOUT
/*******************************************/
.align{
  display: flex;
  padding: 1.5em 0;
  text-align: center;
}

.line1{
  justify-content: center;
}

.line2{
  justify-content: space-evenly;
}

.line3, .line4, .line5{
  justify-content: space-around;
}

.line6{
  justify-content: space-evenly;
}
.line7{
  justify-content: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h1{
  font-family: "Megrim", helvetica, sans-serif;
  font-size: 3.5em;
  padding-top: 1.5em;
  margin: 0 -15%;
}

h2{
  font-size: 2.5em;
  padding: .2em;
}
h3{
  font-size: 1.5em;
}

span{
  color: rgb(155, 65, 87);
  display: block;
  font-family: "Megrim", helvetica, sans-serif;
  font-size: 2em;
  margin-top: 1.5em;
  text-decoration: underline;
}
.horoscope p{
  font-family: "Flamenco", "poiret one", helvetica, sans-serif;
  line-height: 1.2;
}

.horoscope img{
  height:6em;
}
.horoscope h2{
  font-size: 2em;
}
.horoscope{
  color: rgb(195, 189, 172);
  background: rgba(0,0,0,.8);
  border-radius: 5em;
  font-size: 1.5em;
  height: 30em;
  margin: 0 auto;
  padding: 1em;
  text-align: center;
  width: 30%;
}

.hide{
  display: none;
}
