/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/



/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/
html{
  font-size: 62.5%;
}
body{
  font-family: "Noto Sans JP", "Roboto", sans-serif;
}
/******************************************
/* header
/*******************************************/
header{
  background: rgb(91, 107, 127);
  float: left;
  height: 5rem;
  width: 100%;
}
main{
  clear: both;
}

header a{
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
header img{
  height:5rem;
  display:none ;
  margin: 0 auto;


}
.left, .center, .right{
  width: 45%;
  float: left;
}

.left, .right{
  padding: 15px 50px;
}

.left a{
  padding-left: 10px;
}

.right{
  text-align: right;
}
.right a{
  background: white;
  border-radius: 4px;
  color: rgb(91, 107, 127);
  padding: .8rem;

}
/******************************************
/* where
/*******************************************/
h1{
  font-size: 4.5rem;
  font-weight: 500;
}

h1+p{
  font-size: 2rem;
  margin-top: 4rem;
  line-height: 1.2;
}

i{
  padding-right: 5px;
}
 .where {
  background-image: url(../img/gym.jpg);
  background-size: cover;
  color: white;
  height: 50rem;
  padding: 10rem;
  text-align: center;
}

.where a{
  color: white;
  display: block;
  margin-top: 4rem;
  font-size: 2rem;
  text-decoration: none;

}
/******************************************
/* why
/*******************************************/
.why, .volunteer{
  height: 40rem;
  text-align: center;
}

.why{
  padding: 10rem 30rem;
}

.why h2, .volunteer h2{
  font-size: 4rem;
  font-weight: 500;
}

.why p, .volunteer p{
  font-family: "Roboto", "noto Sans jp", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-top: 4rem;
}
/******************************************
/* visit
/*******************************************/


img{
  display: block;
  height: 16rem;
  margin: 0 auto;
}
.visit{
  background: rgb(214, 218, 222);
  float: left;
  height: 70rem;
}

.visit h3{
  font-size: 2rem;
  font-weight: 500;
  padding: 2.5rem;
}

.visit p{
  font-family: "roboto", "noto sans jp", sans-serif;
  font-size: 1.5rem;
  line-height: 1.2;
  margin-bottom: 5rem;
  padding:0 6rem;

}

.visit a, .volunteer a{
  border: 1px solid black;
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 2rem;
  text-decoration: none;

}
.leftVisit, .rightVisit{
  padding: 10rem;
  float: left;
  text-align: center;
  width: 50%;

}
/******************************************
/* volunteer
/*******************************************/

.volunteer {
  height: 50rem;
  clear: both;
}

.volunteer h2{
padding: 10rem 10rem 0rem 10rem;

}

.volunteer p{
 padding: 0 20rem;
 margin-bottom: 5rem;
}
/******************************************
/* footer
/*******************************************/
footer{
  background: rgb(22,29,37);
  color: white;
  height:20rem;
  width: 100%;
}

footer a{
  color: white;
  text-decoration: none;

}
.footerLeft, .footerRight, .footerBottom, footer{
  float:left;
}

.footerRight, .footerLeft{
  width: 50%;
}
.footerRight{
  padding: 1rem 5rem 0 0;
  text-align: right;
}

.footerRight h4{
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

 .footerRight a{
  border-right: 1px solid white;
  border-left: 1px solid white;
  padding-right: 1rem;
  padding-left: 1rem;
}
.footerLeft{
  padding: 1rem 0 0 5rem;
}
.icons{
  font-size: 2rem;
}

.footerLeft h4{
  color:rgb(91, 107, 127);
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
 .footerLeft a{
   padding-right: 2rem;

 }
.footerBottom{
  width:100%;
  margin-top: 4rem;
}
.footerBottom p{
  border-top: 1px solid white;
  margin: 0 auto;
  padding:2rem 10rem;
  text-align: center;
  width: 90%;
}
/******************************************
/* media queries
/*******************************************/


@media (min-width:978px){
  header, .visit{
  background: rgb(187, 31,42);
  }
  footer{
    background: url(../img/gloves.jpg);
    background-size: cover;
    background-position: center;
  }

}

@media (min-width:771px) and (max-width: 977px) {

  header, .visit{
  background: rgb(187, 31,42);
  }
  footer{
    background: url(../img/gloves.jpg);
    background-size: cover;
    background-position: center;
  }
  .why, .volunteer{
    height:60rem;
  }

  .visit{
    height: 100rem;
  }
  .visit p{
    padding: 0 3rem;
  }
}

@media (min-width:375px) and (max-width:770px) {
  html{
    font-size: 50%;
  }


.left, .right{
  display: none;
}

.where p, .leftVisit p, .rightVisit p{
  display: none;
}

.why, .leftVisit, .rightVisit, .volunteer p{
  padding: 0;
}

.visit{
  height: 50rem;
}
}
