/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
font-family: "barlow condensed", helvetica, sans-serif;
}
main{
  background: url(../img/crucibleMap.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/******************************************
/* LAYOUT
/*******************************************/
h1{
  background: rgba(227, 234, 204, .5);
  font-size: 5rem;
  padding:1rem 0;
  text-align: center;
}

p{
  background: rgba(227, 234, 204, .5);
  font-size: 3rem;
  margin: 0 auto;
  text-align: center;
  width: 75%;
}

strong{
  text-decoration: underline;
}
tr{
  margin: 0 auto;
}

img{
  height: 10rem;
}
.scoreboard{
  background: rgba(227, 234, 204, .5);
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.destiny{
  background: rgba(227, 234, 204, .5);
  font-size: 2.5rem;
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

#rock{
  background: rgb(206, 67,39);
}

#paper{
  background: rgb(74,145,176);
}

#scissors{
  background: rgb(128, 95, 173);
}

#status{
  height: 10rem;
  padding-top: 2rem;
}
